<div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
        *ngFor="let education of educationList">
        <div class="resume-content">
            <h3 class="mb-0">{{ education.university }}</h3>
            <div class="subheading">
                <a (click)="openURL(education.link)">
                    {{ education.institute }}
                </a>
            </div>
            <div class="subheading mb-3">
                {{ education.degree }}
            </div>
            <div>{{ education.course }}</div>
            <p>{{ education.mark }}</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">{{ education.duration }}</span>
        </div>
    </div>

</div>