* {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Merienda One', Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 1.5rem 0;
  text-transform: none;
}

h1.section-title {
  font-size: 3rem;
}

.wrapper {
  background: #2d2d2d;
  background-image: url(../assets/pattern.svg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
}

.section-container {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.section-header {
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-right: 3rem;
  padding-left: 3rem;
  position: relative;
}

.section-content .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
}

.section-header p {
  font-size: 1.2rem;
}

.section-content {
  background: #fff;
  color: #2d2d2d;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.profile-image-container {
  background-image: url(../assets/profile/profile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.strike {
  text-decoration: line-through;
}

.technology-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.8rem 0;
}

.technology-item {
  width: 33.33%;
  text-align: center;
}

.technology-item img {
  width: 100%;
  max-width: 6rem;
  cursor: pointer;
}

.contacts-container {
  margin: 2rem 0;
}

.contact-item {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.contact-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-item:hover {
  background: #e2e2e2;
}

.contact-item p {
  white-space: nowrap;
  margin-bottom: 0;
}

.contact-item img {
  max-width: 3.4rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* Extra Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }

  .section-header p {
    font-size: 0.9rem;
  }

  h1.section-title {
    font-size: 1.2rem;
  }

  .contacts-container {
    margin: 0;
  }

  .contacts-container .contact-item {
    margin: 0.5rem 0;
  }

  .contact-item img {
    max-width: 3rem;
  }

  .technology-item img {
    max-width: 4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
