<div class="w-100">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>

    <ul class="list-inline dev-icons">
        <li class="list-inline-item"  title="Angular">
            <img src="assets/img/skills/angular.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="React">
            <img src="assets/img/skills/reactjs.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="Vue.js">
            <img src="assets/img/skills/vuejs.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="mongoDB">
            <img src="assets/img/skills/mongodb.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="Node.js">
            <img src="assets/img/skills/nodejs.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="JavaScript">
            <img src="assets/img/skills/javascript.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="Sass">
            <img src="assets/img/skills/sass.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="CSS">
            <img src="assets/img/skills/css.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="HTML5">
            <img src="assets/img/skills/html.png" alt="" srcset="">
        </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
        <li>
            <i class="fa-li fa fa-check"></i> Mobile-First, Responsive Design
        </li>
        <li>
            <i class="fa-li fa fa-check"></i> Cross Browser Testing &amp; Debugging
        </li>
        <li>
            <i class="fa-li fa fa-check"></i> Cross Functional Teams
        </li>
        <li>
            <i class="fa-li fa fa-check"></i> Agile Development &amp; Scrum
        </li>
    </ul>
</div>