<div class="row">
    <div class="col-12 p-0">
        <h3 class="mb-3 text-primary">Skills</h3>

        <div class="row mb-5">
            <div class="col-12">
                <b class="text-secondary">Programing Languages: &nbsp;</b>
                <span class="black" *ngFor="let programingLanguage of skills.programingLanguages">
                    {{ programingLanguage }}, &nbsp;
                </span>
            </div>
            <div class="col-12">
                <b class="text-secondary">Database Technologies: &nbsp;</b>
                <span class="black" *ngFor="let db of skills.database">
                    {{ db }}, &nbsp;
                </span>
            </div>
            <div class="col-12">
                <b class="text-secondary">Applications: &nbsp;</b>
                <span class="black" *ngFor="let application of skills.applications">
                    {{ application }}, &nbsp;
                </span>
            </div>
            <div class="col-12">
                <b class="text-secondary">Operating System: &nbsp;</b>
                <span class="black" *ngFor="let os of skills.opperatingSystem">
                    {{ os }}, &nbsp;
                </span>
            </div>
        </div>
    </div>
</div>