<div class="w-100">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <!-- <ul class="list-inline dev-icons">
        <li class="list-inline-item" title="Angular">
            <i class="fab fa-angular"></i>
        </li>
        <li class="list-inline-item" title="Vue.js">
            <i class="fab fa-vuejs"></i>
        </li>
        <li class="list-inline-item" title="React">
            <i class="fab fa-react"></i>
        </li>
        <li class="list-inline-item" title="Node JS">
            <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item" title="HTML">
            <i class="fab fa-html5"></i>
        </li>
        <li class="list-inline-item" title="CSS">
            <i class="fab fa-css3-alt"></i>
        </li>
        <li class="list-inline-item" title="JavaScript">
            <i class="fab fa-js-square"></i>
        </li>
        <li class="list-inline-item" title="Sass">
            <i class="fab fa-sass"></i>
        </li>
        <li class="list-inline-item" title="Gulp">
            <i class="fab fa-gulp"></i>
        </li>
        <li class="list-inline-item" title="npm">
            <i class="fab fa-npm"></i>
        </li>
    </ul> -->

    <ul class="list-inline dev-icons">
        <li class="list-inline-item"  title="Angular">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="React">
            <img src="https://cdn0.iconfinder.com/data/icons/logos-brands-in-colors/128/react-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="Vue.js">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/367_Vuejs_logo-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="mongoDB">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/512/mongodb-2-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="Node.js">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/456/nodejs-new-pantone-black-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="JavaScript">
            <img src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="Sass">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/288_Sass_logo-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="CSS">
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-512.png" alt="" srcset="">
        </li>
        <li class="list-inline-item" title="HTML5">
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-html-5-512.png" alt="" srcset="">
        </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
        <li>
            <i class="fa-li fa fa-check"></i> Mobile-First, Responsive Design
        </li>
        <li>
            <i class="fa-li fa fa-check"></i> Cross Browser Testing &amp; Debugging
        </li>
        <li>
            <i class="fa-li fa fa-check"></i> Cross Functional Teams
        </li>
        <li>
            <i class="fa-li fa fa-check"></i> Agile Development &amp; Scrum
        </li>
    </ul>
</div>