<div class="row">
    <div class="col-12 p-0">
        <h4 class="mb-2">Experience</h4>

        <div class="row resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
            *ngFor="let experience of experienceList">
            <div class="resume-content col-12">
                <div class="d-flex flex-row justify-content-between">
                    <h3 class="mb-0">{{ experience.designation }}</h3>
                    <span class="text-primary">
                        {{ experience.experienceStr }}
                    </span>

                </div>
                <div class="subheading mb-3">
                    <a [href]="experience.company.link" target="blank">
                        {{ experience.company.name }}
                    </a>
                </div>
                <p>{{ experience.description }}</p>
            </div>
        </div>
    </div>
</div>