<div class="row">
    <div class="col-12 p-0">
        <h3 class="mb-3 text-primary">Education</h3>

        <div class="row resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
            *ngFor="let education of educationList">
            <div class="resume-content col-12">
                <h4>University - {{ education.university }}</h4>
                <div class="subheading">
                    <h5 class="mb-0" (click)="openURL(education.link)">
                        <span class="text-primary">
                            {{ education.institute }}
                        </span>
                        <span class="text-secondary">
                            - {{ education.location }}
                        </span>
                    </h5>
                </div>
                <div class="subheading mb-3">
                    <h5 class="mb-0 text-secondary">
                        Degree - {{ education.degree }}
                    </h5>
                </div>
                <div class="black">Course - {{ education.course }}</div>
                <p class="black">{{ education.mark }}</p>
            </div>
            <div class="resume-date col-12">
                <span class="text-primary">Duration - {{ education.duration }}</span>
            </div>
        </div>
    </div>
</div>