<button class="showoff" (click)="downloadResume()">Download Resume</button>
<div class="container">
    <div class="row mt-5">
        <div class="col-8">
            <div class="row">
                <h1 class="mb-3">
                    Nitheesh
                    <span class="text-primary">KR</span>
                </h1>
                <p class="lead mb-4">
                    Since July 2014, I've been a dedicated Full Stack engineer in the IT industry. I
                    hold a Bachelor of Technology degree in Electronics and Communication.
                </p>
            </div>
            <div class="row">
                <p class="info">Experience</p>
                <div class="row" *ngFor="let exp of experienceList" >
                    <div class="col-12">
                        <p>
                            <b>{{ exp.company }}</b>, {{ exp.location }} — {{ exp.designation }}
                        </p>
                        <p>
                            <small>{{ exp.duration }}</small>
                        </p>
                        <p>{{ exp.description }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="info">Education</p>
                <div class="row" *ngFor="let edu of educationList" >
                    <div class="col-12">
                        <p>
                            <b>{{ edu.institute }}</b>, {{ edu.location }} — {{ edu.degree }}
                        </p>
                        <p>
                            <small>{{ edu.duration }}</small>
                        </p>
                        <p *ngIf="edu.branch">Branch: {{ edu.branch }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <a href="">ramakrishnan.nitheesh@gmail.com</a>
            <ul>
                <li>
                    <a href="">LinkedIn</a>
                </li>
                <li>
                    <a href="">Medium</a>
                </li>
                <li>
                    <a href="">Stack Overflow</a>
                </li>
                <li>
                    <a href="">GitHub</a>
                </li>
                <li>
                    <a href="">Portfolio</a>
                </li>
            </ul>
        </div>
    </div>
</div>