<button class="showoff" (click)="downloadResume()">Download Resume</button>
<div class="container p-5">
    <div class="row">
        <div class="col-12">
            <div class="row mb-4">
                <div class="col-lg-7 col-sm-12">
                    <app-resume-about-me></app-resume-about-me>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <app-resume-additional-information></app-resume-additional-information>
                </div>
            </div>
            <app-resume-experience></app-resume-experience>
            <app-resume-skills></app-resume-skills>
            <app-resume-training></app-resume-training>
            <app-resume-education></app-resume-education>
            <app-resume-projects></app-resume-projects>
            <app-resume-declaration></app-resume-declaration>
        </div>
    </div>
</div>