<div class="wrapper noselect">
    <header class="sticky-top showoff">
        <app-resume-nav-bar></app-resume-nav-bar>
    </header>
    <div class="container p-5">
        <div class="row">
            <div class="col-12">
                <app-toast-container></app-toast-container>
                <app-resume-about-me></app-resume-about-me>
                <app-resume-additional-information></app-resume-additional-information>
                <app-resume-experience></app-resume-experience>
                <app-resume-skills></app-resume-skills>
                <app-resume-training></app-resume-training>
                <app-resume-education></app-resume-education>
                <app-resume-projects></app-resume-projects>
                <app-resume-declaration></app-resume-declaration>
            </div>
        </div>
    </div>
</div>